.HomeSection {
    height: 200px;
    width: 330px;
    /* border: 2px solid rgb(236, 37, 37); */
    background-color: #1d1c1c;
    margin: 8px;
    border-radius: 10px;
}


#Spotify-icon {
    width: 24px;
    height: 24px;
    position: relative;
    top: 8px;
}

.Spotify-bar {
    margin-top: 20px;
    /* border: 2px solid white; */
    width: 100px;
    margin-left: 50px;
}

#Spotify-button {
    color: white;
    height: 24px;
    width: 60px;
    cursor: pointer;
    background-color: #1d1c1c;
    border: 0px;
    padding-left: 0px;
    /* border: 2px solid red; */
    font-weight: 600;
}


#home-icon {
    width: 24px;
    height: 24px;
    position: relative;
    top: 8px;
}

.home-bar {
    margin-top: 20px;
    /* border: 2px solid white; */
    width: 100px;
    margin-left: 50px;
}

#home-button {
    height: 24px;
    width: 60px;
    cursor: pointer;
    background-color: #1d1c1c;
    color: white;
    border: 0px;
    font-family: math;
    font-weight: bolder;
    font-size: large;
}


.search-bar {
    margin-top: 20px;
    /* border: 2px solid white; */
    width: 100px;
    margin-left: 50px;

}

#search-button {
    height: 24px;
    width: 60px;
    cursor: pointer;
    background-color: #1d1c1c;
    color: white;
    border: 0px;
    font-family: math;
    font-weight: bolder;
    font-size: large;
}

#search-icon {
    width: 24px;
    height: 24px;
    position: relative;
    top: 8px;
}

#library-icon{
    width: 24px;
    height: 24px;
    position: relative;
    top: 8px;

}
#plus-icon{
    width: 24px;
    height: 24px;
    position: relative;
    top: 8px;
}

.fstContainer{
    display: flex;
    justify-content:space-between;
    padding: 5px 5px 10px 8px;
}



/*CreateplaylistButtonContainer  properties*/


.CreateplaylistButtonContainer{
    background-color: #242424;
    border-radius: 15px;
    margin: 8px;
    height: 150px;
}
.CreateplaylistButtonContainer > h3{
    color: white;
    font-family:sans-serif ;
    padding: 5px 0px 0px 5px;
}
.CreateplaylistButtonContainer > p{
    color: white;
    font-family:sans-serif ;
    padding: 0px 0px 0px 5px;
}
.CreateplaylistButtonContainer > button{
    height: 40px;
    width: 132px;
    color: #000;
    padding: 8px 32px 8px 8px;
    /* background-color: #000; */
    border: 0px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 500px;
    padding: 0px 0px 0px 5px;
}

/*Create podcasts button container*/

.CreatepodcastButtonContainer{
    background-color: #242424;
    border-radius: 15px;
    margin: 8px;
    height: 200px;
}
.CreatepodcastButtonContainer > h3{
    color: white;
    font-family:sans-serif ;
    padding: 5px 0px 0px 5px;
}
.CreatepodcastButtonContainer > p{
    color: white;
    font-family:sans-serif ;
    padding: 0px 0px 0px 5px;
}
.CreatepodcastButtonContainer > button{
    height: 40px;
    width: 150px;
    color: #000;
    padding: 8px 32px 8px 8px;
    /* background-color: #000; */
    border: 0px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 500px;
    padding: 0px 0px 0px 5px;
}


.majorside-bar {

    height: 500px;
    width: 330px;
    background-color: #1d1c1c;
    /* overflow: auto; */
}
.innerLHSideBar1 > .fstContainer > a{
    color: white;
    text-decoration: none;
    font-family: system-ui;
    font-weight: 700;
}
.innerLHSideBar1{
    /* border: 2px solid green; */
    overflow: auto;
    height: 300px;
}


/*header properties*/

.header-right {
    height: 200px;
    width: 1300px;
    border: 2px solid rgb(203, 209, 23); 
    background-color: #1a1919;
    display: flex;
    justify-content: space-between;
    margin: 8px;
    border-radius: 10px;
}

.header-container {
    background-color: #000;
    display: flex;
    /* display: inline; */
    flex-direction: column;
    width: 350px;
    height: 722px;
}

.main-section {
    width: 1300px;
    /* width: 964.6px; */
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    /* background-color: #000; */
    background-color:burlywood;
    overflow: auto;
    /* grid-gap: 30px; */
    /* border: 2px solid rgb(0, 255, 221); */
    height: 722px;
}

.content-container {
    display: flex;
    background-color: red;
}

.frame {
    width: 200px;
    height: 200px;
    border: 2px solid red;
    border-radius: 100px;
}



/* playButton properties */
.playButton {
    background-color: #1ed760;
    height: 50px;
    width: 50px;
    border-radius: 100px;


    border: 0px;
    cursor: pointer;
}

.playButton-icon {
    width: 20px;
    height: 20px;
    margin: 6px 0px 4px 5px;
    padding: 5px;


}



/* ArtistBar properties */
.artistsFrameItems {
    /* border: 2px solid red;    */
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    height: 250px;
    width: 220px;
    cursor: pointer;
    position: relative;
}

.artistsBar {
    height: 350px;
    width: 1200px;
}

.ArtistProperties {
    width: 200px;
    height: 200px;

    border-radius: 100px;
    cursor: pointer;

}

.PrimaryHeading {
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px solid red; */
    padding-left: 40px;
    color: white;

}

.artistsframe {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.artistsFrameItems>h3 {
    color: white;
    margin: auto;

}

.artistsFrameItems>div {
    color: white;

}

.artistsFrameItems:hover {
    background-color: #0000007a;
}

/* CardsCOntainer properties */

.CardsContainer {
    height: 500px;
    width: 1300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* background-color: #000; */
    /* background-color: #000000d6;*/
    overflow: auto; 
    grid-gap: 30px;
}


/*Searching bar properties*/
.SearchingBar{
    /* border: 2px solid red; */
    height: 40px;
    width: 364px;
    background-color: #242424;
    border-radius: 500px;
    /* color: #fff; */
    padding: 6px 36px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px 0px 0px 10px;
    
}

.SearchingBar  > img{
    height: 18px ;
    width: 18px;
    padding:  0px 6px 0px 2px;
    
}


#InputBar{
    color: #fff;
    background-color: #242424;
    border: 0;
    font-size: 16px;
    outline: none;
}
/*Top button properties */

.TopHeaderbuttons{
    /* border: 2px solid red; */
    width: 220px ;
    margin-top: 10px;
}

.TopHeaderbuttons > #btn1{
    /* border: 2px solid red; */
    height: 40px;
    width: 96;
    color: #A7A7A7;
    padding: 8px 32px 8px 8px;
    background-color: #000;
    border: 0px;
    cursor: pointer;
    font-weight: 700;
    

}
.TopHeaderbuttons > #btn2{
    /* border: 2px solid red; */
    height: 40px;
    width: 96px;
    color: #000;
    padding: 8px 32px 8px 8px;
    /* background-color: #000; */
    border: 0px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 500px;
    margin: auto;
    display: inline-block;

}

/*Right hand side footer container properties*/

.RHSFooterContainer  a  {
    text-decoration: none;
    color: #A7A7A7;
    font-family: sans-serif;
    
    /* border: 2px solid red; */
}
.RHSFooterContainer  li  {
    
    text-decoration: none;
    list-style: none;
    padding: 5px 0px 5px 0px;
    
    /* border: 2px solid red; */
}
.RHSFooterContainer  h3 {
    color: white;
    font-family: sans-serif;

}
.RHSFooterContainer{
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items:baseline;
    width: 1300px;

}
.RHSFooterContainer img{
    width: 24px;
    height: 24px;
    /* border: 2px solid red; */

}
.RHSFooterContainer > .footer-icons{

    /* border: 2px solid red; */
    height: 50px;
    width: 140px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}


/*Lower left hand side bar properties */

.lowerLHSideBar ul{

    display: grid;
    /* border: 2px solid red; */
    grid-template-columns: repeat(3,1.5fr);
    font-size: smaller;
    padding-left: 5px;
    
}

.lowerLHSideBar li{
    color: #A7A7A7;
    list-style: none;
    font-family: sans-serif;
    /* border: 2px solid red; */
    
}
.lowerLHSideBar a{
    color: #A7A7A7;
    text-decoration: none;
    font-family: sans-serif;
    /* border: 2px solid red; */
    
}

.Language-btn img{
    width: 16px;
    height: 16px;
    padding: 5px 0px 0px 5px;
}
.Language-btn button{
    /* border: 2px solid red; */
    /* width: 100px; */
    background-color:#1d1c1c ;
    color: white;
    /* cursor: pointer; */
    border: 0px;
    /* height: 15px; */
}

.Language-btn {
    border: 2px solid rgb(92 84 84 / 58%);      
    display: flex;
    width: 90px;
    border-radius: 15px;
    height: 30px;
    /* justify-content: baseline; */
    /* transition: border-color 0.3s ease, transform 0.3s ease; */
    cursor: pointer;

}
.Language-btn :hover{
    /* border: 2px solid rgba(237, 44, 44, 0.58); */
    /* transform: scale(1.05); */
    /* transform: scale(5fr); */
}


.OuterMostContainer{
    display: flex;
    
    height: 722px;
}


/*TopRightHeader properties*/

.TopRightHeader{
    display: flex;
    justify-content: right;
}


/*Artist frame properties*/
.ArtistFrame{
    /* border: 2px solid red; */
    height: 300px;
    width: 600px;
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    
}

/*verified icon properties*/

#verified-icon{
    width: 24px;
    height: 24px;
}
.VerifiedBar{
    display: flex;
    width: fit-content;

    /* border: 2px solid red; */
    
    
}
.VerifiedBar h3{
    margin-top: 0px;
    padding-left: 5px;
    
}

.ArtistHeadings h1{
    margin: 0px 0px 0px 0px;
    font-size: 70px;
}

.ArtistHeadings h2{
    margin: 0px 0px 0px 0px;
    /* font-size: 50px; */
}
.ArtistHeadings{
    height: max-content;
}
.FollowBar{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    width: 230px;
    justify-content: space-around;
}

#followButton{
    border-radius: 15px;
    width: 80px;
    height: 33.2px;
    
}

#threeDots{
    width: 30px;
    /* height: 20px;     */
}

.SongIcons{
    width: 40px;
    height: 40px;
}

.Songs{
    display: flex;
    justify-content:space-between ;
    width:1000px;
    /* margin-left: 100px; */
    /* border: 2px solid red; */
    padding-left: 2rem;
    /* margin-left: 40px; */
    /* transition: all 100ms ease-in 10ms; */
    margin: 20px 0px 20px 40px;
}
/* .Songs:hover{
    background-color: #808080b3;
} */



/* .Song1 div{
    display: flex;
    align-items: center;
    /* border: 2px solid red; */

.songframe{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    width: 270px;
    justify-content: space-between;
}
#SongPlayButton{
    width: 12px;
    height: 12px;
}

#VolumeButton{
    background-color: #000;
    cursor: pointer;
    width: 144.76px;
    height: 24.4px;
}
#controls {
    display: flex;
    gap: 5px;
}
#volumeBarContainer {
    width: 100px;
    height: 4px;
    background-color: #ccc;
    /* border: 1px solid red; */
    position: relative;
    cursor: pointer;
    /* margin-top: 10px; */
    margin-left: 13px;
    border-radius: 15px;
}
#volumeBar {
    height: 100%;
    width: 50%;
    background-color: #fefafa;
    /* transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay]; */
    transition: all 0.5ms ease-in 0.5ms;
    border-radius: 15px;
}
#volumeBar:hover,#volumeBar:active{
    background-color: #16be52;
}
#songFunctioning{
    background-color:rgba(20, 233, 27, 0.963);
    /* background-color:rgba(5, 8, 8, 0.963); */
    height: 75px;
    width: 1510px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
    /* opacity: 2300px; */
}

#songFunctioning #buttonsContainer{
    height: 37px;
    width: 37px;
    background-color: white;
    border-radius: 20px;
}

#songFunctioning #buttonsContainer img{
    height: 20px;
    width: 16px;
    margin: 8px 0px 0px 10px;
}
#songFunctioning #center{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    width: 600px;
}




#songFunctioning #right img{
    width: 17px;
    height: 17px;
    cursor: pointer;
    
}
#songFunctioning #right {
    /* border: 2px solid rgb(239, 23, 23); */
    display: flex;
    align-items: center;
    height: max-content;
    width: 150px;

}

#songFunctioning #img1{
    height: 56px;
    width: 56px;
}
#songFunctioning #img2{
    height: 16px;
    width: 16px;
    /* border: 0px; */
}
 
#songFunctioning #left{
    display:flex ;
    align-items: center;
    /* border: 2px solid red; */
    width: 442px;
    height: 61px;
    justify-content: space-around;
}
#songFunctioning #songContent{
    line-height: 0px;
    color: rgb(252, 248, 248);
}
#songFunctioning #songContent p{
    line-height: 0px;
    color: rgba(255, 255, 255, 0.616);
}
#timelineBarContainer{
    width: 500px;
    height: 4px;
    background-color: #ccc;
    /* border: 1px solid red; */
    position: relative;
    cursor: pointer;
    /* margin-top: 10px; */
    margin-left: 13px;
    border-radius: 15px;
   
}
#timelineBar{
    height: 100%;
    width: 0%;
    background-color: #fefafa;
    /* transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay]; */
    transition: all 0.5ms ease-in 0.5ms;
    border-radius: 15px;
}
#timelineContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 600px;
}